* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.principalUser{
	width: 100%;
    margin: 0 auto;	
}

.boxUser{
	width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.boxUser::before{
	content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}

.index{
	width: 950px;
    overflow: hidden;
    background: transparent;
}

.spanU{
	font-family: Ubuntu-Bold;
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.user{
	
	height: 800px;

	border-radius: 30px;
	margin-top: 5px; 

}

.infoU{
	float: left;
	height: auto;
	max-height: 800px;
	max-width:450px;
	width: auto;
	background-color: #1D6511;
	margin-top: 50px;
	margin-right: 10px;
	border-radius: 15px;
	display:inline-block;
}
.rankingU{
	height: auto;
	max-height: 800px;
	max-width:450px;
	width: auto;
	background-color: #1D6511;
	float:right;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 50px;
	border-radius: 15px;
	display:inline-block;
}

.h2U{

	margin-left: 40px;
	margin-top: 20px;
	color: white;
	font-size: auto;
	justify-content: center;

}

.datosU{
	height: 65px;
	max-width:350px;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 10px;
	background-color: white;
	margin-top: 30px;

}

.imgU{
	max-height:120px;
	max-width: 350px;
	margin-left: 50px;
	margin-right:50px;
	border-radius: 10px;
	margin-top: 30px;
	text-align: center;
	justify-content: center;
	margin-bottom:10px;
}

.imgK{
    width: auto;
    max-height:100px;
    max-width: 350px;
    justify-content: center;
    border-radius:15px;
    margin-bottom:10px;
}




.hrU{
	border: 2px solid black;
}

.btnU{

	width: 100px;
	height: 30px; 
	position:relative;
	display:inline-block;
	margin-left: 20px;
	background-color: #34BF1E;
	border: 2px solid transparent;
	border-radius: 15px;
	color: #FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;
	justify-content: center;
}

.btnU:hover , .btnU:focus{
	background-color:#fff;
	border: 2px solid #34BF1E;
	color:#34BF1E;
}

.btnUEdit{
	width: 100px;
	height: 30px; 
	position:relative;
	display:inline-block;
	margin-left: 15px;
	margin-right: 20px;
	background-color: #34BF1E;
	border: 2px solid transparent;
	border-radius: 15px;
	color: #FFF;
	-webkit-transition:0.3s all;
	transition:0.3s all;
	justify-content: center;
}

.btnUEdit:hover , .btnUEdit:focus{
	background-color:#fff;
	border: 2px solid #34BF1E;
	color:#34BF1E;
}
.btnUEdit:before{
	margin-left:auto;
}


p{
	margin-left: 20px;
	font-family: 'arial';
	font-size: auto;
	color: black;
}


.tableMax{
	max-width: 400px;
	max-height: 500px;
	background-color: white;
	border-radius: 20px;
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom:17px;
	overflow:scroll
}

.tableU{
	
	width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 20px;
}

.tableU th, .tableU td{
	padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.tableU thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.tableU tbody + tbody {
  border-top: 2px solid #dee2e6;
}
